

@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');


.header {
    width: 97.8%;
    background-color: black;
    color: green;
    text-align: center;
    font-size: 6rem;
    font-family: 'Macondo Swash Caps', cursive;
    padding: 20px;
    margin: 0px 15px;
    text-shadow: 5px 5px 5px white;
}

.header h1 {
    font-weight:bolder;

}